#root {
  padding: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 860px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding: 21px;
  border: 2px solid hsl(235, 18%, 26%);
  border-radius: 36px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
}

@media only screen and (max-width: 375px) {
  main {
    width: 375px;
    gap: 0;
    flex-direction: column-reverse;
    padding: 0;
    margin: 0;
    position: none;
    border-radius: 0px;
  }
}

main .container {
  padding-top: 29px;
  margin-left: 29px;
  /* width: 376px; */
}

@media only screen and (max-width: 375px) {
  main .container {
    margin-left: 0px;
    padding: 35px 21px 35px 21px;
    /* width: 376px; */
    font-size: 14px;
  }
}

main .container .heading {
  font-size: 56px;
  font-weight: 600;
  line-height: 1.5;
}

@media only screen and (max-width: 375px) {
  main .container .heading {
    font-size: 36px;
    font-weight: 600;
    line-height: 1.5;
  }
}

main .container p {
}
main .container ul {
  padding: 0;
}

main .container ul li {
  list-style: none;
  display: flex;
  gap: 19px;
  justify-content: left;
  align-items: center;
}

.image {
  height: 593px;
  width: 400px;
  background-image: url(./../assets/images/illustration-sign-up-desktop.svg);
  background-size: cover;
  background-position: center;
  border-radius: 16px;
}

@media only screen and (max-width: 375px) {
  .image {
    width: 375px;
    height: 284px;
    background-image: url(./../assets/images/illustration-sign-up-mobile.svg);
  }
}

form {
  margin-top: 31px;
  margin-bottom: 20px;
}
form label {
  font-weight: 700;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
}

form label span {
  display: block;
  color: #ff6155;
}

input[type="email"] {
  width: 100%;
  padding: 18px 24px;
  height: 54px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 16px;
  color: #242742;
}

input[type="email"]:active {
  border: 1px solid #242742;
  cursor: pointer;
}

input[type="email"]::placeholder {
  font-size: 16px;
  color: hsl(231, 7%, 60%);
}
input[type="submit"] {
  width: 100%;
  font-size: 18px;
  padding: 16px;
  border-radius: 10px;
  border: none;
  color: #fff;
  margin-top: 20px;
  background-color: hsl(234, 29%, 20%);
  cursor: pointer;
  transition: all 0.2s;
}
input[type="submit"]:active {
  background-color: hsl(4, 100%, 67%);
}
form .error-box {
  border: 1px solid #ff6155;
  background-color: rgba(255, 97, 85, 0.15);
  color: #ff6155;
  font-weight: 400;
}
