#root {
  padding: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 928px;
  display: flex;
  gap: 69px;
  padding: 17px;
  border: 2px solid hsl(235, 18%, 26%);
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main .container {
  padding: 29px;
  font-size: 18px;
}

main .container .heading {
  font-size: 62px;
  font-weight: 600;
}

main .container p {
}
main .container ul {
  padding: 0;
}

main .container ul li {
  list-style: none;
  display: flex;
  gap: 19px;
  justify-content: left;
  align-items: center;
}

.image {
  height: 593px;
  width: 400px;
  background-image: url(./assets/images/illustration-sign-up-desktop.svg);
  background-size: cover;
  background-position: center;
}

form {
  margin-top: 40px;
  margin-bottom: 20px;
}
form label {
  font-weight: 700;
  font-size: 16px;
}

input[type="email"] {
  width: 100%;
  padding: 12px 20px;
  height: 66px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

input[type="email"]::placeholder {
  font-size: 18px;
  color: hsl(231, 7%, 60%);
}

.container button {
  width: 100%;
  font-size: 18px;
  padding: 24px;
  border-radius: 10px;
  border: none;
  color: #fff;
  background-color: hsl(234, 29%, 20%);
}
